@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: "Poppins", sans-serif;
  @apply bg-white;
}

.breadcrumb > a {
  @apply no-underline;
}
.breadcrumb > a:hover {
  @apply underline;
}

nav a {
  @apply text-gw-blue-darker no-underline;
}

@screen md {
  .dimmable {
    filter: brightness(80%);
  }

  .dimmable:hover {
    filter: brightness(100%);
  }
}

#nav-main-list li a {
  @apply border-b-2 border-transparent;
}
#nav-main-list li.active a,
#nav-main-list li:hover a {
  @apply border-blue-500;
}
#nav-modal-list a {
  @apply border-l-4 border-transparent my-4;
}
#nav-modal-list li.active a,
#nav-modal-list a:hover {
  @apply border-blue-500;
}
